.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.ticket-container.cdk-drop-list-dragging .ticket-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.title_input {
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 5px;
  color: white;
  margin-left: 6%;
}

.ticket_dialog::backdrop {
  background-color: #3c3c3c;
  opacity: 0.7;
  border: none;
}

.confirm_dialog {
  border-radius: 5px;
  width: 200px;
  height: 70px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  border: 2px solid #6b6b6b;
}
