.sidenav_container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121212;
}

.toolbar {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20px 300px 60px auto;
}

.github-container {
  display: grid;
  justify-content: end;
}
