<mat-sidenav-container hasBackdrop="true" class="sidenav_container">
  <mat-sidenav #sidenav mode="over" position="start" class="drawer">
    <div class="font-bold m-1 hover:bg-containerHover hover:cursor-pointer" (click)="selectProject(project)" *ngFor="let project of projects" [title]="project.title">{{project.title}}</div>
    <button class="m-2 hover:bg-containerHover rounded text-center" (click)="addNewProject()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button class="fa_icon_scaling pr-2" (click)="sidenav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <input #projectTitleInput type="text"
             class="disabled:bg-[#212121] text-center focus:outline-none"
             [disabled]="true" [(ngModel)]="selectedProject.title" (focusout)="projectTitleChanged()" (keyup.enter)="projectTitleChanged()" [title]="selectedProject.title">
      <div>
        <button class="fa_icon_scaling m-1" (click)="editProjectTitle()">
          <fa-icon [icon]="faPencil" size="sm"></fa-icon>
        </button>
        <button class="fa_icon_scaling m-1" (click)="deleteProject()" *ngIf="projects.length > 1"
                title="delete project">
          <fa-icon [icon]="faTrash" size="sm"></fa-icon>
        </button>
      </div>
      <div class="github-container">
        <a href="https://github.com/binaryArrow/canban2" class="fa_icon_scaling m-1" title="See Github">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </div>
    </mat-toolbar>
    <div class="h-3/4">
      <board [containers]="containers" [projectId]="selectedProject.id"></board>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
