<mat-sidenav-container hasBackdrop="true" class="sidenav_container">
  <mat-sidenav #sidenav mode="over" position="start" class="left-0 w-1/4">
    <p>
      <button (click)="sidenav.toggle()">toggle</button>
    </p>
    <p>iajvghidfn</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button class="fa_icon_scaling pr-2" (click)="sidenav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <span class="text-xl">New Project</span>
    </mat-toolbar>
    <div class="h-3/4">
      <board></board>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
