<mat-sidenav-container hasBackdrop="true" class="sidenav_container">
  <mat-sidenav #sidenav mode="over" position="start" class="left-0 w-1/4">
    <p>
      <button (click)="sidenav.toggle()">toggle</button>
    </p>
    <p>iajvghidfn</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="h-3/4 float-left bg-container hover:bg-containerHover rounded p-0.5 mr-5 text-center" (click)="sidenav.toggle()">
      <fa-icon [icon]="faCompass"/>
    </button>
    <div class="h-3/4">
      <board></board>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
