/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  height: 100%;
}
body{
  height: 100%;
}

.ticket-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 50px;
  margin: auto auto 10px;
  width: 96%;
  position: relative;
  text-align: center;
}
.ticket-wrapper:hover {
  cursor: pointer;
}
.delete-dialog {
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  border: 2px solid #6b6b6b;
  border-radius: 5px;
}

textarea{
  resize: none;
}
